/*defaults*/
html {
    display: block;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
    height: 700px;
}

.body-contents {
    margin: 0px;
    background-color: #283316;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.body-contents-text {
    width: 500px;
    padding: 50px;
}

.picture {
    height: 550px; 
    width: 400px;

    background-image: url("picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.faves1, .faves2{
    display: flex;
    flex-direction: row;

    justify-content:space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}


.section{
    display:flex;
    flex-direction: column;
    width: 220px;
}

.introduction{
    margin-bottom: 20px;
}
